* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1290px;
    margin: 0 auto;
    position: relative;
}

.box {
    display: flex;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar Start */

nav {
    background-color: #FAE3B6;
    padding: 47px 0px;
}

nav .box{
    align-items: center;
}

.logo {
    width: 22%;
}

.menu {
    width: 50%;
}

.menu ul {
    display: flex;
    column-gap: 59px;
    cursor: pointer;
}

.menu ul li {
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", sans-serif;
}

.button {
    width: 28%;
    text-align: right;
}

.button a {
    background-color: #FDBB57;
    padding: 10px 15px;
    font-size: 24px;
    font-weight: 600;
    color: #050505;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    display: inline-block;
    transition: .2s;
}

.button a:first-child {
    margin-right: 5px;
}

.button a:hover {
    background-color: #FFD687;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Navbar End */

/*Banner Start*/

.banner{
    background-color: #FAE3B6;
    padding-top: 117px;
    padding-bottom: 102px;
}

.banner .box{
    justify-content: space-between;
}

.banner-content{
    width: 50%;
}

.banner h1{
    font-size: 64px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", sans-serif;
    width: 538px;
}

.banner p{
    font-size: 22px;
    font-weight: 400;
    color: black;
    font-family: "Poppins", sans-serif;
    padding-top: 38px;
    padding-bottom: 76px;
    width: 500px;
}

.banner a{
    background-color: black;
    color: white;
    padding: 25px 91px;
    border-radius: 10px;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    transition: .3s;
}

.banner a:hover{
    color: rgb(143, 73, 200);
    background-color: rgb(224, 108, 141);
}

.banner-image{
    width: 50%;
}

/*Banner End*/

/*Collection Start */

.collection{
    padding-top: 217px;
    padding-bottom: 188px;
}

.collection h2{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-family: "Frank Ruhl Libre", serif;
}

.collection .box{
    justify-content: space-between;
    padding-top: 108px;
}

.collection .item{
    width: 349px;
    height: 402px;
    position: relative;
    overflow: hidden;
    
}

.collection .item img{
    width: 100%;
    height: 100%;
}

.collection .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 0;
    border-radius: 16px;
    transition: .2s;    
}

.collection .item:hover .overlay{
    top: 0;
}

.collection .item .overlay a{
    background-color: white;
    padding: 9px 108px;
    border-radius: 14px;
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-family: "Poppins", sans-serif;
    position: absolute;
    
}

.collection .item .overlay .sweater{
    top: 283px;
    left: 16px;
}

.collection .item .overlay .jeans{
    top: 283px;
    left: 31px;
}

.collection .item .overlay .baskets{
    top: 283px;
    left: 20px;
}

.collection .orange{
    position: absolute;
    bottom: -101px;
    right: -66px;
    z-index: -1;
}

/*Collection End*/

/*Fashion Start*/

.fashion .left{
    width: 50%;
}

.fashion .left img{
    width: 110%;
}

.fashion .right{
    width: 50%;
    padding-left: 100px;
}

.fashion .box{
    align-items: center;
}

.fashion .right h2{
    font-size: 64px;
    font-weight: 700;
    color: black;
    font-family: "Frank Ruhl Libre", serif;
    width: 437px;
    padding-bottom: 63px;
}

.fashion .right p{
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", sans-serif;
    width: 443px;
}

.fashion-content{
    background-color: #FEECC8;
    width: 791px;
    height: 250px;
    position: absolute;
    top: 580px;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.fashion-content div{
    border-right: 2px solid black;
    padding-right: 40px;
}

.fashion-content div:nth-child(3){
    border: transparent;
    padding-right: 0px;
}

.fashion-text h3{
    font-size: 64px;
    font-weight: 700;
    font-family: "Podkova", serif;   
}

.fashion-text p{
    font-size: 28px;
    font-weight: 500;  
    font-family: "Poppins", sans-serif;
}

.fashion .dot{
    position: absolute;
    bottom: -274px;
    left: 150px;
}

.fashion{
    margin-bottom: 280px;
}

/*Fashion End*/

/*Product Start*/

.product{
    background-color: #CFA485;
    padding-top: 67px;
    padding-bottom: 102px;
}

.product-content{
    width: 40%;
}

.product-image{
    width: 60%;
}

.product-content h2{
    font-size: 64px;
    font-weight: 700;
    font-family: "Frank Ruhl Libre", serif;
    color: white;
    width: 437px;
    top: 0;
    left: 0px;
}

.product-content p{
    font-size: 24px;
    font-weight: 700;
    font-family: "Frank Ruhl Libre", serif;
    color: white;
    width: 437px;
    padding-top: 31px;
    padding-bottom: 100px;
}

.product-content a{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #000000;
    padding: 31px 78px;
    border-radius: 10px;
    transition: .3s;
}

.product-content a:hover{
    color: rgb(143, 73, 200);
    background-color: rgb(224, 108, 141);
}

.product-image{
    display: flex;
    justify-content: space-between;
}

.product-image .item{
    position: relative;
}

.product-image .overlay{
    width: 100%;
    height: 142px;
    position: absolute;
    overflow: hidden;
    background-color: white;
    bottom: -73px;
    left: 0;
    opacity: 0;
    transition: .4s;    
}

.product-image .item:hover .overlay{
    bottom: 7px;
    opacity: 1;
}

.product-image .item .overlay .icons i{
    width: 10px;
    color: #FDBB57;
    padding-left: 14px;
    padding-top: 17px;
}

.product-image .item .overlay .icons i:first-child{
    padding-left: 24px;
}

.product-image .item .overlay .details{
    padding-top: 17px;
    padding-bottom: 4px;
    padding-left: 24px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #000000;
}

.product-image .item .overlay .price{
    display: flex;
}

.product-image .item .overlay .price p{
    padding-left: 30px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #000000;
}

.product-image .item .overlay .price p:first-child{
    padding-left: 24px;
    color: #C4C4C4;
}




/*Product End*/